<body>
    <div class="row" style="background-color:#fff; margin:0px -30px 0px -30px; padding-top:10px; border-top: 3px solid #b3b3b3;">
        <div class="col-md-2 col-xs-2 col-sm-12" id="overall" style="text-align:center; padding:15px 15px 15px 15px; font-weight: 500; color: #303130;"></div>
        <div class="col-md-2 col-xs-2 col-sm-12" id="bar1" style="text-align:center; padding:15px 15px 15px 15px; font-weight: 500; color: #303130;"></div>
        <div class="col-md-2 col-xs-2 col-sm-12" id="bar2" style="text-align:center; padding:15px 15px 15px 15px; font-weight: 500; color: #303130;"></div>
        <div class="col-md-2 col-xs-2 col-sm-12" id="bar3" style="text-align:center; padding:15px 15px 15px 15px; font-weight: 500; color: #303130;"></div>
        <div class="col-md-2 col-xs-2 col-sm-12" id="bar4" style="text-align:center; padding:15px 15px 15px 15px; font-weight: 500; color: #303130;"></div>
        <div class="col-md-2 col-xs-2 col-sm-12" id="bar5" style="text-align:center; padding:15px 15px 15px 15px; font-weight: 500; color: #303130;"></div>
     </div>
     
     <div class="row" style="background-color:#fff; margin:0px -30px 0px -30px; padding-bottom:20px; border-bottom: 3px solid #b3b3b3;">
        <div class="col-md-2 col-xs-2 col-sm-12" style="text-align:center; padding-top:5px; font-weight: 600; color: #303130;">총점평균</div>
        <div class="col-md-2 col-xs-2 col-sm-12" style="text-align:center; padding-top:5px; font-weight: 600; color: #303130;">강의난이도</div>
        <div class="col-md-2 col-xs-2 col-sm-12" style="text-align:center; padding-top:5px; font-weight: 600; color: #303130;">학점만족도</div>
        <div class="col-md-2 col-xs-2 col-sm-12" style="text-align:center; padding-top:5px; font-weight: 600; color: #303130;">학습량</div>
        <div class="col-md-2 col-xs-2 col-sm-12" style="text-align:center; padding-top:5px; font-weight: 600; color: #303130;">성취감</div>
        <div class="col-md-2 col-xs-2 col-sm-12" style="text-align:center; padding-top:5px; font-weight: 600; color: #303130;">출석체크</div>
     </div>
     
     
    <br><br>
    <input type="hidden" id="check_overall" value="<%= (@average_score_overall/2).round(1) %>">
    <input type="hidden" id="check_difficulty" value="<%= @average_score_difficulty.round(1) %>">
    <input type="hidden" id="check_grade" value="<%= @average_score_grade.round(1) %>">
    <input type="hidden" id="check_study" value="<%= @average_score_study.round(1) %>">
    <input type="hidden" id="check_achievement" value="<%= @average_score_achievement.round(1) %>">
    <input type="hidden" id="check_attendance" value="<%= @average_score_attendance.round(1) %>">
</body>

<script>
 var circle0 = new ProgressBar.Circle('#overall', {
        color: '#ffcc00',
        strokeWidth: 6,
        trailWidth: 6,
        duration: 2500,

        step: function(state, bar) {
            bar.setText((bar.value() * 5).toFixed(1));
            target0 = bar.value();
            value0 =  parseFloat( $( '#check_overall' ).val() )
            if ( (target0 * 5).toFixed(1) == value0 ){
                circle0.stop();
            }
        }
      });
      
      circle0.animate(1, function() {  //이건 건들면 안돼
           circle0.animate(0);
      });
      
/*=======================================================*/ 
    var circle1 = new ProgressBar.Circle('#bar1', {
        color: '#000099',
        strokeWidth: 6,
        trailWidth: 6,
        duration: 2500,

        step: function(state, bar) {
            bar.setText((bar.value() * 5).toFixed(1));
            target1 = bar.value();
            value1 =  parseFloat( $( '#check_difficulty' ).val() )
            if ( (target1 * 5).toFixed(1) == value1 ){
                circle1.stop();
            }
        }
      });
      
      circle1.animate(1, function() {  //이건 건들면 안돼
           circle1.animate(0);
      });
      
/*=======================================================*/  

      var circle2 = new ProgressBar.Circle('#bar2', {
        color: '#0066cc',
        strokeWidth: 6,
        trailWidth: 6,
        duration: 2500,

        step: function(state, bar) {
            bar.setText((bar.value() * 5).toFixed(1));
            target2 = bar.value();
            value2 =  parseFloat( $( '#check_grade' ).val() )
            if ( (target2 * 5).toFixed(1) == value2 ){
                circle2.stop();
            }
        }
      });
      
      circle2.animate(1, function() {  //이건 건들면 안돼
           circle2.animate(0);
      });
      
/*=======================================================*/   

       var circle3 = new ProgressBar.Circle('#bar3', {
        color: '#009999',
        strokeWidth: 6,
        trailWidth: 6,
        duration: 2500,

        step: function(state, bar) {
            bar.setText((bar.value() * 5).toFixed(1));
            target3 = bar.value();
            value3 =  parseFloat( $( '#check_study' ).val() )
            if ( (target3 * 5).toFixed(1) == value3 ){
                circle3.stop();
            }
        }
      });
      
      circle3.animate(1, function() {  //이건 건들면 안돼
           circle3.animate(0);
      });
      
/*=======================================================*/  

       var circle4 = new ProgressBar.Circle('#bar4', {
        color: '#00a400',
        strokeWidth: 6,
        trailWidth: 6,
        duration: 2500,

        step: function(state, bar) {
            bar.setText((bar.value() * 5).toFixed(1));
            target4 = bar.value();
            value4 =  parseFloat( $( '#check_achievement' ).val() )
            if ( (target4 * 5).toFixed(1) == value4 ){
                circle4.stop();
            }
        }
      });
    
      circle4.animate(1, function() {  //이건 건들면 안돼
           circle4.animate(0);
      });
      
/*=======================================================*/        

       var circle5 = new ProgressBar.Circle('#bar5', {
        color: '#005d00',
        strokeWidth: 6,
        trailWidth: 6,
        duration: 2500,

        step: function(state, bar) {
            bar.setText((bar.value() * 5).toFixed(1));
            target5 = bar.value();
            value5 =  parseFloat( $( '#check_attendance' ).val() )
            if ( (target5 * 5).toFixed(1) == value5 ){
                circle5.stop();
            }
        }
      });
      
      circle5.animate(1, function() {  //이건 건들면 안돼
           circle5.animate(0);
      });
</script>